.add-condition-button[data-v-21435bef]{clear:both;height:25px;color:var(--td-text-color-secondary);border-radius:4px;cursor:pointer;width:80%;text-align:center;margin:5px auto;border:1px dashed var(--td-text-color-placeholder)}
